@CHARSET "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Roboto:wght@300;400;500&family=Syne:wght@400;600;700;800&display=swap');

*{
	font-family: Syne;
	word-wrap: break-word;  
}
body {
	background: rgb(238,174,202);
	background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
	font-weight: 400;
}
.register-card{
	padding: 10px;
	margin-top: 10px;
	width: 70%;
	background: #464646;
	color: white;
	border-radius: 10px;
	box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
h1{
	text-align: center;
	font-family: Syne;
	font-weight: 700;
}
/* .alert-danger, .alert-success{
	display: block;
} */
strong {
	font-weight: 600;
}
[type="tel"]{
	font-weight: lighter;
}
